{{#extend "layout"}}
{{#content "main"}}

<section class="section intro">
    <div class="intro__site-container">
        <h2 class="intro__heading intro__heading--bigger">
            Follow&nbsp;us online
        </h2>

        <ul class="intro__list">
            <li>
                <a href="#" target="_blank" rel="noopener noreferrer" class="intro__contact contact">
                    <div class="contact__icon">
                        <img src="./img/contacts/img-1.png" alt="">
                    </div>
                    <div class="contact__desc">
                        <p class="contact__title">
                            Etsy shops:
                        </p>
                        <p class="contact__link">
                            www.etsy.com/shop/EdenGardenJewelry
                        </p>
                    </div>
                </a>
            </li>
            <li>
                <a href="#" target="_blank" rel="noopener noreferrer" class="intro__contact contact">
                    <div class="contact__icon">
                        <img src="./img/contacts/img-2.png" alt="">
                    </div>
                    <div class="contact__desc">
                        <p class="contact__title">
                            Instagram:
                        </p>
                        <p class="contact__link">
                            instagram.com/edengarden.jewelry
                        </p>
                    </div>
                </a>
            </li>
            <li>
                <a href="#" target="_blank" rel="noopener noreferrer" class="intro__contact contact">
                    <div class="contact__icon">
                        <img src="./img/contacts/img-3.png" alt="">
                    </div>
                    <div class="contact__desc">
                        <p class="contact__title">
                            LinkedIn:
                        </p>
                        <p class="contact__link">
                            www.linkedin.com/company/edengardenjewelry
                        </p>
                    </div>
                </a>
            </li>
        </ul>
    </div>

    <div class="intro__contacts contacts">
        <div class="contacts__site-container">
            <div class="contacts__body">
                <div class="contacts__image">
                    <picture>
                        <source type="image/webp" srcset="./img/contacts/pic.webp" />
                        <img class="lazy" src="./img/contacts/pic.png" alt="">
                    </picture>
                    <p class="contacts__image-text">
                        Any questions?
                    </p>
                </div>
                <div class="contacts__info">
                    <h3 class="contacts__title">
                        You&nbsp;can reach&nbsp;us&nbsp;by:
                    </h3>

                    <div class="contacts__desc">
                        <a href="#" class="contacts__link contacts__link--not-active">
                            chat on our website
                        </a>
                        <a href="#" class="contacts__link">
                            <span>
                                e-mail:&nbsp;
                            </span>
                            <p>
                                info@edengardenjewelry.com
                            </p>
                        </a>
                        <p class="contacts__text">
                            Our working hours are from 9:00 AM to 7:00 PM Central
                            European Time (CET). As we are dealing with a time difference
                            and a high workload, we do not offer consultations by
                            phone&nbsp;and prefer to review all inquiries by email.
                            Thank&nbsp;you&nbsp;for&nbsp;your understanding.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{{/content}}
{{/extend}}
