.page-header {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 200;

    width: 100%;
    max-width: 100%;
    padding: 5rem 0 0;

    border-bottom: 1px solid var(--3-color, #C6B081);

    &__site-container {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        gap: 2.6rem;

        @include breakpoint(laptop) {
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            padding-bottom: 2rem;
        }

    }

    &__logo {
        margin-inline: auto;
    }

    &__burger {
        display: none;
        flex-shrink: 0;

        @include breakpoint(laptop) {
            display: block;
        }
    }

    &__row {
        display: flex;
        align-items: center;

        padding-bottom: 2rem;

        @include breakpoint(laptop) {
            padding-bottom: unset;
        }
    }

    &__menu {
        display: flex;
        justify-content: center;

        flex: 1 1 auto;

        @include breakpoint(laptop) {
            display: none;
        }
    }

    &__search,
    &__controls {
        display: flex;
        align-items: center;
        gap: 1rem;

        width: max-content;
    }

    &__controls {
        margin-left: -9.6rem;

        @include breakpoint(laptop) {
            margin-left: unset;
        }
    }
}
